.VideoBlock {
    border: 1px solid gray;
    border-radius: 3px;
    width: 90%;
    margin: 0px auto 20px auto;
    padding: 20px 10px 10px 10px;
}

.videoBlockImage {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    border: 1px solid gray;
}

.VideoBlock_details {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    padding: 5px;
}

.videoBlockLink {
    text-decoration: none;
}

/*tablet and desktop adjustments*/
@media (min-width: 800px) {
    .VideoBlock {
        display: flex;
        flex-direction: row;
    }

    .VideoBlock_details {
        text-align: left;
        padding: 0px 20px 0px 20px;
    }

    .videoBlockImage {
        width: 20%;
        height: 90%;
        margin-top: 10px;
    }

    .videoBlockTitle {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .videoBlockDesc {
        margin: 5px auto 5px auto;
    }

    .videoBlockPostDate {
        font-size: 12px;
        margin-top: 0px;
    }
}