.commentsUserName,
.commentsText {
    margin-bottom: 0px;
}

.commentsDetails {
    margin-top: 0px;
}

/*tablet and desktop adjustments*/
@media (min-width: 800px) {
    .Comments {
        text-align: left;
    }

    .commentsDetails {
        font-size: 12px;
    }
}