.CreateUser {
    width: 60%;
    text-align: left;
    margin: auto auto 50px auto;
}

.CreateUser_form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.CreateUser_formField {
    margin-bottom: 20px;
}

.CreateUser_formField > label {
    display: inline-block;
    width: 100%;
}

.CreateUser_formField > input{
    width: 100%;
    padding: 2px 5px 2px 5px;
}

.createUserError {
    font-size: 12px;
    color: red;
}

.CreateUserForm_buttons > button {
    margin-right: 10px;
}

.createUserToggleChar {
    font-size: 12px;
    border: none;
    background-color: white;
    padding: 0px;
}

/* tablet adjustments */
@media (min-width: 768px) {
    .CreateUser {
        width: 30%;
    }

    .CreateUser > h1 {
        text-align: center;
    }
}

/* desktop adjustments */
@media (min-width: 1200px) {
    .CreateUser {
        width: 20%;
    }
}