.MainVideoPage {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mainVideoPageVideo {
    margin-left: auto;
    margin-right: auto;
}

.mainVideoDate {
    margin-top: 0px;
    font-size: 14px;
}

.mainVideoDesc {
    padding: 10px;
    margin-bottom: 30px;
}

.MainVideoPage_resources,
.MainVideoPage_comments,
.MainVideoPage_relatedVids {
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 20px;
}

.mainVideoPage_resourcesHeader,
.mainVideoPage_commentsHeader,
.mainVideoPage_relatedVidsHeader {
    position: relative;
    top: -0.75em;
    display: inline;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5px 0px 5px;
}

/*tablet and desktop adjustments*/
@media (min-width: 800px) {
    .MainVideoPage {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
    }

    .MainVideoPage_feature {
        width: 60%;
        padding-right: 20px;
    }

    .mainVideoPage_featureAbout {
        text-align: left;
        padding-left: 20px;
    }

    .mainVideoPageTitle {
        font-size: 28px;
        margin-bottom: 0px;
    }

    .mainVideoDate {
        display: inline-block;
        margin-bottom: 0px;
    }

    .mainVideoDesc {
        padding: 0px;
        margin-bottom: 30px;
    }

    .MainVideoPage_resources,
    .MainVideoPage_comments {
        padding: 0px 0px 30px 20px;
    }

    .MainVideoPage_relatedVids {
        width: 40%;
    }

    .mainVideoPage_relatedVidsMore {
        text-align: left;
        margin-left: 7%;
    }
}