.UserLogin_form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.UserLogin_formField {
    margin-bottom: 20px;
}

.UserLogin_formField > label {
    display: inline-block;
    width: 100%;
}

.UserLogin_formField > p {
    margin-top: 0px;
}

.userLoginForgotPassword {
    color: rgb(66, 66, 66);
    font-size: 12px;
}

.userLogin_formCredError {
    color: red;
}

@media (min-width: 800px) {
    .UserLogin {
        text-align: center;
    }
}