.resetPasswordText {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.ResetPassword_form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.ResetPassword_formField {
    margin-bottom: 20px;
}

.ResetPassword_formField > label {
    display: inline-block;
    width: 100%;
}

.ResetPassword_formField > p {
    margin-top: 0px;
}

.errorText {
    color: red;
    font-size: 12px;
}

@media (min-width: 800px) {
    .ResetPassword {
        text-align: center;
    }
}