/* desktop adjustments */
@media (min-width: 1200px) {
    .ContactUsForm {
        width: 50%;
        margin: 20px auto auto auto;
        padding: 0px 50px 20px 50px;
        text-align: left;
        border: 1px solid rgb(195, 195, 195);
        border-radius: 5px;
    }

    .contactUsFormHeader {
        position: relative;
        text-align: center;
        top: -0.75em;
        display: inline;
        background-color: white;
        padding: 0px 5px 0px 5px;
    }

    .ContactUsForm_formField {
        margin-bottom: 20px;
    }

    .ContactUsForm_formField > label {
        display: inline-block;
        width: 100%;
    }
    
    .ContactUsForm_formField > input,
    .ContactUsForm_formField > textarea {
        width: 100%;
        border: 1px solid rgb(195, 195, 195);
        border-radius: 5px;
    }

    .contactUsMessage {
        height: 100px;
    }

    .contactUsConfirmSend {
        font-size: 14px;
        margin-top: 20px;
    }
}