.AdminVideos_formResources {
    width: 90%;
    background-color: rgb(233, 233, 233);
    margin: 0px auto 10px auto;
    padding-top: 5px;
}

.AdminVideos_formResources > label {
    display: inline-block;
    width: 100%;
}

.AdminVideos_formResources > input {
    width: 80%;
    margin-bottom: 10px;
}